body {
    color: #fafafa;
    background-color: #0e1117;
    font-size: 90%;
}

form {
}

body .yellow-button  {
    background-color: #f6dB00;
    color: #0e1117;
}

body .blue-button {
  background-color: #62a0ea;
  color: #0e1117;
  border: none;
}
body .blue-button:focus { outline: none; }
.pure-g svg {
  width: 100%;
}
body .transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width:100%;
}
body .transparent-button:focus { outline: none; }
.pure-g svg {
  width: 100%;
}

.pure-g button{
  margin-bottom: 0.5em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.pure-table{
    border-radius: 1em;
    border-collapse: separate!important;
    overflow: hidden;
}

.pure-table-horizontal thead{
    background-color: #62a0ea!important;
}

.pure-table-horizontal tbody{
    background-color: #5184bf;
}

.selected{
  background-color: #fff;
  color: #000;
}

.center{
  text-align: center;
}

.chatfooter{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatfooter a{
  color: #fff;
}

.chatfooter input{
  width:100%;
  height: 10vh;
  border-radius: 2em;
  background-color: #fff;
  margin: 1em;
}

.chatfooter .dropbtn{
  height: 6vh;
  text-align: center;
}

.fullbtn{
  width:100%;
  height:100%;
}

.right{
  text-align: right;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
    #layout.active #menu {
        left: 200px;
        width: 200px;
    }

    #layout.active .menu-link {
        left: 200px;
    }

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 10em 2em 0;
    max-width: 1000px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
    .content h1 {         
      margin: 0.2em 0; 
      font-size: 3em;
      line-height: 1.2em;
      font-weight: 600;
      text-align: center;
}                    
    .content h2 {        
      font-weight: 300;
      color: #ccc;     
      padding: 0;      
      margin-top: 0;   
}
    .content .pure-g {
      padding: 0.6em;
    }
    .content .pure-g p{
      padding-right: 10px;
      margin: 6px 0 auto;
      text-align: right;
      height: 10px;
    }
    .content input[type=text] {
      width: 100%;
      height: 30px;
      border-radius: 1em;
      border: none;
    }


.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.scorename{
  background-color: #62a0ea; 
  border: none;
}

textarea{
  border: none;
  width: 100%;
  resize: vertical;
  border-radius: 0.3em;
}

.footer {
    color: #6c6e71;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

.footer b {
    color: #9b9c9f;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -200px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #5184bf;
    overflow-y: auto;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        border: none;
        display:block;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
    }



    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
    }

        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #62a0ea;
        color: #0e1117;
        text-align: center;          
        font-size: 300%;             
        font-weight: 600;            
    }

    .pure-menu-heading{
      padding: 2em 0!important;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    
    #menu .pure-menu-list {
        background-color: #62a0ea;
    }
    
/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover {
        background: #262730;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        pointer-events: none;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 38em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 200px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 200px;
    }

    .menu-link {
        position: fixed;
        left: 200px;
        display: none;
    }

    #layout.active .menu-link {
        left: 200px;
    }
}

 /* Dropdown Button */
.dropbtn {
  background-color: #62a0ea;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background: rgb(93,149,215);
  background: linear-gradient(180deg, rgba(93,149,215,1) 0%, rgba(85,138,200,1) 48%, rgba(81,132,192,1) 100%);
}

.floatbtn {
  border-radius: 100%;
  position: fixed;
  right: 6vh;
  bottom: 6vh;
  padding: 0.8em;
}

.bigtext {
  height: 50vh;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.box-content {
  background-color: #5184bf;
  border-radius: 0 0 1em 1em;
}
.logs, .logs .pure-g, .logs ul{
  height: 70vh;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #5184bf;
  border-radius: 0 0 1em 1em;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.course{
  margin: 1em;
}

.big-course{
  margin: 1em;
  width:100%;
}
.course .dropbtn{
  border-radius: 1em 1em 0 0;
}

.course .desc{
  border-radius: 0 0 1em 1em;
  background-color: #5184bf;
  padding: 1em;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show{display:block;} 

.hide{display:none;}

.rotate {
  transition: rotate 0.5s;
}

.rotate45 {
  rotate: 45deg;
}

.rotate180 {
  rotate: -180deg;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 38em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
  }
@media (max-width: 38em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
}
